body{
    margin:0;
    padding: 0;
    background:none;
}

.banner{
    background: url(../images/brooke-cagle-unsplash.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.navbar-nav li a{
    color:#fff !important;
    font-size:16px;
}
.navbar-nav a:hover{
    color:#34a853 !important ;
}
.overlay-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    overflow:hidden;
  }
  .navbar .navbar-brand img{
    width: auto;
    height: 50px;
  }
  .login {
    color: #fff;
    text-align: center;
    margin-top: 118px;
  }
  .page-title h1{
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .page-title h3{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 35px;
  }

.student-login{
    position: relative;
    width: 400px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px 25px 25px;
    transition: 0.5s;
}
.student-login input{
    display: block;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: #444;
    font-size: 15px;
    letter-spacing: 1px;
    background: rgba(255, 255, 255, .9);
}
.student-login input#student_email{
    border-bottom: 0.1px solid #000;
    outline: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.student-login input::placeholder{
    color: rgb(59, 59, 59);
}
.student-login input[type="submit"]{
    color: #fff;
    background: #34a853;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.student-login input[type="submit"]:hover{
    color:#000;
    background: #b8d344;
}


.mx-auto#loading{
    margin-top: 10px;
}

@media (max-width:1200px){
    
}
@media (max-width:992px){
    .page-title h1{
        font-size: 32px;
        letter-spacing: 2px;
      }
    .navbar-toggler{
        margin: 10px -10px 10px 30px;
        background-color: rgb(52, 168, 83);
        color: #fff;
    }
    .navbar-toggler:hover, .navbar-toggler:focus{
        background-color:#fff;
        border-color:#34a853;
    }
    .navbar-nav li a{
        color: #000 !important;
        text-align: center;
        background-color: rgba(240, 248, 255, 0.5);
    }
    .navbar-nav li a:hover{
        background-color: rgba(51, 167, 82,0.5);
        color: #fff !important;
    }
}
/* CSS for student dashboard */
@media (min-width:992px){
    .nav-pills .nav-link{
        padding:30px;
        margin:20px;
        width: 180px;
        background: rgba(256, 256, 256, 1);
        box-shadow: 0px 0px 1px 1px rgba(68,74,78,0.75);
        -webkit-box-shadow: 0px 0px 1px 1px rgba(68,74,78,0.75);
        -moz-box-shadow: 0px 0px 1px 1px rgba(68,74,78,0.75);
    }
    .nav-pills .nav-link i{
        display: block;
        font-size:50px;
        text-align: center;
        margin-bottom: 20px;
        color: #34a853;
    }
    .nav-pills .nav-link.active i{
        color: #fff !important;
    }
    .nav-pills .nav-link span{
        display: block;
        text-align: center;
        color: #34a853;
    }
    .nav-pills .nav-link.active span{
        color: #fff !important;
    }
    .navbar-nav li.logout-button{
        font-size: 14px;
        color:#fff;
        text-decoration: none;
        background: #34a853;
        padding: 0px 20px;
        margin-left:30px;
        border-radius: 10px;
    }
    .nav-pills .nav-link.active{
        background: rgba(52, 168, 83, 1) !important;
    }
}
@media (max-width:992px){
    .nav-pills .nav-link i{
        font-size:18px;
        text-align: center;
        margin-right: 4px;
    }
    .nav-pills .nav-link span{
        text-align: center;
        font-size:18px;
    }
    .dropdown span#username{
        text-transform: uppercase;
        margin-left:0px;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff !important;
        background-color: #34a853 !important;
    }
    .navbar-toggler-icon:hover,.navbar-dark .navbar-toggler-icon:focus{
        color:rgba(236, 25, 25, 0.5) !important;
    }
}
.dashbord-tabs h3.page-title{
    text-align: left;
    margin-top: 35px;
    margin-bottom: 20px;
}
.nav-pills .nav-link:hover{
    box-shadow: 1px 1px 2px 2px rgba(68,74,78,0.75);
    -webkit-box-shadow: 1px 1px 3px 3px rgba(68,74,78,0.75);
    -moz-box-shadow: 1px 1px 2px 2px rgba(68,74,78,0.75);
}
.menu-container .container{
    max-width: 1221px;
}
.navbar-nav li.logout-button a:hover{
    color: #fff !important;
}
#pills-profile .img-thumbnail{
    margin-bottom: 10px;
}
.transcript-button{
    font-size: 14px;
    color:#fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    background: #34a853;
    padding: 10px 22px 9px;
    border: 2px solid #34a853;
    margin-top: 30px;
}
.transcript-button:hover{
    font-size: 14px;
    color:#34a853;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    background: #fff;
}
input[type="submit"].transcript-button{
    margin-top:5px;
    padding:6px 16px; 
}
.apply-content{
    text-align: center;
    margin-top: 50px;
}
.apply-form table{
    border-collapse: unset;
    margin-top: 56px;
    border: 1px solid #cfcfcf;
    padding: 50px 50px;
    border-radius: 10px;
    background: #f1f1f1;
}
.apply-form table {
    width: 40%;
  }
  .apply-form .table-borderless td#right{
      text-align: right;
  }
  .apply-form .table-borderless td#left{
    text-align: left;
}
.apply-form table #academic_1{
    display: none;
}
#paypal-button-container{
    width:150px;
    margin-left: -36px
}
.hide-amount{
    visibility: hidden;
}
#add-btn{
    display: none;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 32px;
    left: 40px;
    display: none;
    min-width: 0;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown span#username{
    text-transform: uppercase;
    margin-left:30px;
}

  .btn-primary{
    color: #fff ;
    background-color: #34a853 !important;
    border-color: #34a853 !important;
  }

/* Marquee on transcript page */
@keyframes scroll{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-100%,0);
    }
}
@-webkit-keyframes scroll{
    0%{
        -webkit-transform: translate(0,0);
    }
    100%{
        -webkit-transform: translate(-100%,0);
    }
}
@-moz-keyframes scroll{
    0%{
        -moz-transform: translate(0,0);
    }
    100%{
        -moz-transform: translate(-100%,0);
    }
}
.scroll-box{
    margin-top: -16px;
}
.scroll-text {
    display: block;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(201, 13, 13)
  }
  .scroll-text span{
    display:inline-block;
    padding-left: 100%;
    animation: scroll 15s infinite linear;
    -webkit-animation: scroll 15s infinite linear;
    -moz-animation: scroll 15s infinite linear;
  }

  /*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    display: inline-block;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 30%;
    height: 75px;
    position: relative;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    background-color: #fff;
  }
  
  .wrap-input100.rs1 {
    border-top-left-radius: 12px;
    border-right: none;
  }
  
  .wrap-input100.rs2 {
    border-top-right-radius: 12px;
  }
  
  .input100 {
    font-family: OpenSans-Bold;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
  
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 30px;
  }
  
  input.input100 {
    height: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  
  .input100:focus {
    height: 55px;
  }
  
  .input100:focus + .label-input100 {
    top: 10px;
    font-size: 13px;
    color: #111111;
  }
  
  .has-val {
    height: 55px !important;
  }
  
  .has-val + .label-input100 {
    top: 10px;
    font-size: 13px;
    color: #111111;
  }
  
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .login100-form-btn {
    font-family: OpenSans-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
    background: #111111;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
  }
  
  .login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
  
    background: #2575fc;
    background: -webkit-linear-gradient(right, #6a11cb, #2575fc);
    background: -o-linear-gradient(right, #6a11cb, #2575fc);
    background: -moz-linear-gradient(right, #6a11cb, #2575fc);
    background: linear-gradient(right, #6a11cb, #2575fc);
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
    background-color: transparent;
  }
  .login100-form-btn:hover:before {
    opacity: 1;
  }
  #paypal-button-container{
      display: inline-block;
      margin-top: 8px;
  }
#payment-button-container{
    display: none;
    width:220px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 10px;
    margin-top: -30px;
}
#paystack-pay:hover{
    background: azure;
    border-radius: 10px;
    cursor: pointer;
}
#paystack-pay img{
    vertical-align: inherit !important;
    cursor: pointer;
}
/* @media (max-width:1100px){
    #payment-button-container{
        width:40%;
    }
    #paystack-pay{
        display: block;
        float: none;
    }
}
@media (max-width:700px){
    #payment-button-container{
        width:70%;
    }
} */

footer .footer{
    position: absolute;
    bottom: 0;
    background: #343a40;
    height: auto;
    text-align: center;
    padding: 20px;
    color: #fff;
}
.about-us{
    margin-top: 60px;
    text-align: center;
}
.about-us .title{
    margin-bottom: 20px;
    text-align: left;
}
.about-us .sub-title{
    font-size: 18px;
    text-align: justify
}
  
