body{
    margin:0;
    padding: 0;
    background:none;
}

.banner{
    background: url(../images/brooke-cagle-unsplash.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.navbar-nav a{
    color:#fff;
    font-size:16px;
}
.navbar-nav a:hover{
    color:#34a853 ;
}
.overlay-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    overflow:hidden;
  }
  .navbar .navbar-brand img{
    width: auto;
    height: 50px;
  }
  .login {
    margin-top: 150px;
    color: #fff;
  }
  .page-title h1{
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .page-title h3{
    text-align: center;
    letter-spacing: 1px;
  }
  .login .student-login{
      margin-top: 40px;
      text-align: center;
  }
  .login-button{
    font-size: 14px;
    color:#fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #34a853;
    padding: 10px 22px 9px;
    border: 2px solid #34a853;
    margin-left: -5px;
}
.login-button:hover{
    color:#000;
    background: #b8d344;
}
.login-text{
    border: 2px solid #34a853;
    width: 250px;
    padding: 8px 10px;
}

@media (max-width:1200px){
    
}
@media (max-width:992px){
    .page-title h1{
        font-size: 32px;
        letter-spacing: 2px;
      }
    .navbar-toggler{
        margin: 10px -10px 10px 30px;
        background-color: #34a853;
        color: #fff;
    }
    .navbar-toggler:hover, .navbar-toggler:focus{
        background-color:#fff;
        border-color:#34a853;
    }
    .navbar-nav li a{
        color: #000;
        text-align: center;
        background-color: rgba(240, 248, 255, 0.5);
    }
    .navbar-nav li a:hover{
        background-color: rgba(51, 167, 82,0.5);
        color: #fff;
    }
}
@media(max-width:768px){
    
}